/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.env.example
.styleci.yml
phpunit.xml
package.json
webpack.mix.js
.gitattributes
.editorconfig
